dot-vim/.netrwhist
*~
dot-vim/bundle
dot-vim/colors
dot-emacs-dot-d/.emacs.desktop
dot-emacs-dot-d/.emacs.desktop.lock
dot-emacs-dot-d/elpa
dot-emacs-dot-d/projectile.cache
dot-emacs-dot-d/ido.last
dot-emacs-dot-d/projectile-bookmarks.eld
dot-emacs-dot-d/backups
dot-emacs-dot-d/auto-save-list
